// .content {
//     margin: 0px 10px;
// }

ion-item {
    font-size: 14px;
}

ion-col {
    border: 1px solid gray;
    text-align: center;
}

.table-header {
    font-weight: bolder;
}

.submitHome {
    --background: linear-gradient(315deg, #fc5296 0%, #f67062 74%) !important;
}


@media(max-width: 321px) {
    .delete-button {
        width: 55px;
        font-size: smaller;
        text-transform: capitalize;
    }
}
@media(max-width: 361px) {
    .delete-button {
        width: 55px;
        font-size: smaller;
        text-transform: capitalize;
    }
}
@media(max-width: 376px) {
    .delete-button {
        width: 55px;
        font-size: smaller;
        text-transform: capitalize;
    }
}
@media(max-width: 415px) {
    .delete-button {
        width: 55px;
        font-size: smaller;
        text-transform: capitalize;
    }
}
@media(max-width: 569px) {
    .delete-button {
        width: 55px;
        font-size: smaller;
        text-transform: capitalize;
    }
}
@media(max-width: 668px) {
    .delete-button {
        width: 55px;
        font-size: smaller;
        text-transform: capitalize;
    }
}
@media(max-width: 737px) {
    .delete-button {
        width: 55px;
        font-size: smaller;
        text-transform: capitalize;
    }
}
@media(max-width: 813px) {
    .delete-button {
        width: 55px;
        font-size: smaller;
        text-transform: capitalize;
    }
}